@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
:root {
  --base-color: #406bb0;
  --primary-color: #F77A00;
  --second-color: #FF0000;
  --base-site-font: 'Roboto', sans-serif; }

.form-reused {
  padding: 50px;
  border-radius: 20px;
  -webkit-box-shadow: 0 2px 15px -3px rgba(0, 0, 0, 0.07), 0 10px 20px -2px rgba(0, 0, 0, 0.04);
  box-shadow: 0 2px 15px -3px rgba(0, 0, 0, 0.07), 0 10px 20px -2px rgba(0, 0, 0, 0.04); }
  @media (max-width: 576px) {
    .form-reused {
      padding: 30px 15px; } }
  @media (min-width: 1200px) {
    .form-reused {
      border-radius: 0 20px 20px 0; } }
  .form-reused .title__text {
    color: var(--base-color);
    font-size: 35px; }
    @media (max-width: 576px) {
      .form-reused .title__text {
        font-size: 22px; } }
  .form-reused .title__line {
    width: 100px;
    height: 2px;
    margin-inline: auto;
    margin-block: 15px;
    background: var(--base-color); }
  .form-reused .form-group {
    margin-bottom: 25px; }
    .form-reused .form-group .form-text {
      margin-left: 52px; }
      @media (max-width: 576px) {
        .form-reused .form-group .form-text {
          margin-left: 0; } }
  .form-reused .form-control {
    height: 50px;
    margin-left: 10px;
    border-radius: 5px !important; }
    .form-reused .form-control::-webkit-outer-spin-button, .form-reused .form-control::-webkit-inner-spin-button {
      -webkit-appearance: none; }
    .form-reused .form-control:focus {
      border-color: var(--base-color);
      -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; }
  .form-reused .input-group-prepend .input-group-text {
    background: none;
    border-radius: 0;
    border: none; }
    .form-reused .input-group-prepend .input-group-text i {
      font-size: 24px;
      width: 24px;
      color: var(--base-color); }
    @media (max-width: 576px) {
      .form-reused .input-group-prepend .input-group-text {
        padding-inline: 0 5px; }
        .form-reused .input-group-prepend .input-group-text i {
          width: 20px;
          font-size: 20px; } }
  .form-reused button[type="submit"] {
    display: block;
    padding: 12px 30px;
    font-weight: 500;
    border-radius: 8px;
    width: 200px;
    margin: auto;
    -webkit-box-shadow: rgba(247, 122, 0, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    box-shadow: rgba(247, 122, 0, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    font-size: 20px; }

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: var(--base-site-font); }

.header {
  margin-block: 12px; }
  .header .container-fluid {
    padding-inline: 8px; }
  .header .nav {
    gap: 15px; }
    .header .nav__logo img {
      width: 220px;
      height: 60px; }
      @media (max-width: 1200px) {
        .header .nav__logo img {
          width: 140px;
          height: 36px; } }
    @media (max-width: 576px) {
      .header .nav__logo {
        width: 135px;
        margin-bottom: 0 !important; }
        .header .nav__logo img {
          width: 100%; } }
    .header .nav__login .btn {
      max-width: 120px;
      height: 40px;
      padding-inline: 12px;
      font-size: 14px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      @media (max-width: 992px) {
        .header .nav__login .btn {
          height: 36px; } }
      @media (max-width: 576px) {
        .header .nav__login .btn {
          line-height: 1.15;
          font-size: 13px; } }

footer {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.8)), to(rgba(24, 45, 78, 0.8))), url(../images/FooterBG.jpg);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(24, 45, 78, 0.8)), url(../images/FooterBG.jpg);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat; }

.btn {
  outline: none; }
  .btn:focus {
    -webkit-box-shadow: none;
    box-shadow: none; }

.primary-btn {
  color: white;
  background: var(--primary-color); }
  .primary-btn:hover {
    color: white; }

.second-btn {
  color: white;
  background: var(--second-color); }
  .second-btn:hover {
    color: white; }

.register {
  padding-block: 80px; }
  @media (max-width: 576px) {
    .register {
      padding-block: 40px; } }
  @media (max-width: 992px) {
    .register .container {
      max-width: 100%; } }
  @media (min-width: 1200px) {
    .register .account-banner img {
      border-radius: 20px 0 0 20px; } }
  @media (max-width: 992px) {
    .register .account-banner img {
      height: 300px !important;
      margin-bottom: 30px; } }

@media (min-width: 1200px) {
  .login-page .wrapper {
    height: 100vh;
    max-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; } }

.transfer-page .transfer-banner img {
  max-height: 450px; }

@media (max-width: 992px) {
  .transfer-page .transfer-form .container {
    max-width: 100%; } }

.transfer-page .transfer-form .box-title {
  background: var(--primary-color);
  border-radius: 5px;
  padding: 20px 25px;
  text-align: center; }
  .transfer-page .transfer-form .box-title h2 {
    color: white;
    font-size: 22px; }
  .transfer-page .transfer-form .box-title .line {
    width: 100px;
    height: 2px;
    margin-inline: auto;
    background: white; }

.transfer-page .transfer-form .nav-pills {
  border-radius: 10px;
  -webkit-box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px; }
  .transfer-page .transfer-form .nav-pills .nav-item {
    width: 50%; }
    .transfer-page .transfer-form .nav-pills .nav-item .nav-link {
      width: 100%;
      background: none;
      border-radius: 0;
      color: var(--base-color);
      padding-block: 10px 5px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      gap: 10px;
      font-size: 20px; }
      .transfer-page .transfer-form .nav-pills .nav-item .nav-link.active {
        border-bottom: 5px solid var(--primary-color); }
      .transfer-page .transfer-form .nav-pills .nav-item .nav-link i {
        font-size: 30px; }

.transfer-page .transfer-form .tab-content form {
  border-radius: 20px; }
  .transfer-page .transfer-form .tab-content form .form-group .input-group {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media (max-width: 768px) {
      .transfer-page .transfer-form .tab-content form .form-group .input-group {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        gap: 10px; }
        .transfer-page .transfer-form .tab-content form .form-group .input-group .form-control {
          width: 100%; } }
    @media (max-width: 768px) and (max-width: 576px) {
      .transfer-page .transfer-form .tab-content form .form-group .input-group .form-control {
        margin-left: 0; } }
    .transfer-page .transfer-form .tab-content form .form-group .input-group .input-group-prepend {
      width: 25%; }
      .transfer-page .transfer-form .tab-content form .form-group .input-group .input-group-prepend .input-group-text {
        line-height: 1;
        gap: 10px; }
        .transfer-page .transfer-form .tab-content form .form-group .input-group .input-group-prepend .input-group-text span {
          font-weight: 500; }
    .transfer-page .transfer-form .tab-content form .form-group .input-group .copy-text-btn {
      margin-left: 15px;
      display: block;
      height: 50px;
      line-height: 50px;
      text-align: center;
      background: var(--base-color);
      color: white;
      text-decoration: none;
      border-radius: 5px;
      padding-inline: 10px; }
      @media (max-width: 768px) {
        .transfer-page .transfer-form .tab-content form .form-group .input-group .copy-text-btn {
          margin-left: 10px;
          height: auto;
          padding-block: 10px;
          line-height: 1; } }
      @media (max-width: 576px) {
        .transfer-page .transfer-form .tab-content form .form-group .input-group .copy-text-btn {
          margin-left: 0; } }

.transfer-page .transfer-about {
  background: #141f33; }
  @media (max-width: 992px) {
    .transfer-page .transfer-about .about-item:not(:last-child) {
      margin-bottom: 30px; } }
  .transfer-page .transfer-about .about-item .content h6 {
    color: var(--primary-color); }

.account-form .box-title {
  background: var(--primary-color);
  border-radius: 5px;
  padding: 20px 25px;
  text-align: center; }
  .account-form .box-title h2 {
    color: white;
    font-size: 22px; }
  .account-form .box-title .line {
    width: 100px;
    height: 2px;
    margin-inline: auto;
    background: white; }
